<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stratus Comics</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    {{{body}}}
</body>

<script src="/static/index.js"></script>
</html>